/* #region ---- Reset ---- */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: 2px solid white;
}
/* #endregion ---- Reset ---- */

/* #region ---- General ---- */

body{
    background-color: #000000;
}
/* #endregion ---- General ---- */
header{
    height: 35px;
}
main{
    height: calc(100vh - 120px);
}
footer
{
    height: 85px;
}
