/* #region ---- Reset ---- */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* border: 2px solid white; */
}
/* #endregion ---- Reset ---- */

/* #region ---- General ---- */

body{
    background-color: #000000;
}
header{
    height: 35px;
}
main{
    height: calc(100vh - 120px);
}
footer
{
    height: 85px;
}

/* #endregion ---- General ---- */

/* #region ---- Header ---- */

header{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 5px;
}
.bg-header{
    border: transparent;
    border-radius: 5px;
    background-color: #4a4a4a;
    color: white;
    padding: 7px 5px;
    cursor: pointer;
}

/* #endregion ---- Header ---- */
